<div class="card" *ngIf="stock.name">
  <div class="img">
    <img class="icon" [src]="stock.icon"/>
  </div>
  <div class="textBox">
    <div class="textContent">
      <div class="h1">{{stock.name}}<div *ngIf="stock.increased"  style="color: green ; margin: 0 10px 0 10px; float: right;">▲</div>
      <div *ngIf="!stock.increased"  style="color: red ; margin: 0 10px 0 10px; float: right;">▼</div>
    </div>
      <span class="span">now</span>
    </div>
    <div class="detail">Is trading at the price of ${{stock.price}}
  <div>
</div></div></div>